
  
  body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 0px;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  .header.image {
    background-image: url("images/title_banner.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;

  }
  h2 {
    margin-top: 2em;
  }
  p {
    margin-bottom: 2em;
  }
  h3 {
    margin-top: 1.2em;
  }
  .telno {
    font-size: 140%;
  }

  .contactform {
    display: inline-block;
    border: 1px solid;
    width: 100%;
  }
  .contact label {
    display: block;
  }
  .contact textarea, 
  .contact input {
    width: 100%;
  }
  
  .float-box {
    /* float: right; */
    /* border: solid 2px;
    border-radius: 4px;
    padding: 12px; */
    /* width: 45%; */
    /* margin-bottom: 20px; */
    margin-left: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 35px;
  }
  .float-box-text {
    text-align: center;
    padding: 10px 20px;
  }

  /******** Benefits list *********/
  .benefits-list h3 {
    text-align: center;
  }
  .benefits-list p.icon-square {
    text-align: center;
    margin-bottom: 15px;
    background-color: #f8f8f9;
  }
    
  
  /*********** Testimonials ************/
  .testimonial p.quote {
    font-style: italic;
    margin-bottom: 40px;
  }

  .testimonial span {
    font-size: 70%;
    color: #050505;
    font-style:normal;
  }
  
  .clearfix {
    overflow: auto;
  }





