<div class="ui main container">

  <h2 class="ui header">Edit Cards</h2>

  <div class="ui info message">
    <div class="header">
      Cards are the boxes of content in the LunchAlert Customer app
    </div>
    <p>These can be your main home card, special offer cards, or important messages to 
      your customers.</p>
    <p>From here you can turn cards on or off, schedule them, and edit simple cards.
      A push notification can also be sent to customers when the card goes live.</p>
    <p>Cards can either be custom designed by LunchAlert staff, or simple text cards that 
      can be created and edited.  
      Custom cards are written in HTML code and cannot be edited here.</p>
  </div>

  <br/>
  <!-- Vendor Search selection Box -->
  <div class="four wide column">
    <div class="ui labeled icon input">
      <div class="ui label">Vendor </div>
      <input type="text" ng-model="vendors.input" placeholder="" ng-change="vendorPress()">
      <i class="search icon"></i>
    </div>
    <div ng-if="vendors.loading" class="ui active small inline loader"></div>
  </div>
  <div class="four wide column">
    <div class="ui  selection list">
      <div ng-repeat="vendor in vendors.list" class="item" data-value="{{vendor.line}}">
        <div class="content" ng-click="vendorSelect(vendor)">
          <div class="header">{{vendor.businessName}}</div>
          <div class="description">({{vendor.id}})</div>
        </div>
      </div>
    </div>
  </div>
  <br/>

<!--
  <div class="ui fluid search dropdown">
    <input name="vendorInput" type="text" ng-model="vendors.input" 
        ng-change="vendorPress()">
    <i class="dropdown icon"></i>
    <div class="default text">-</div>
    <div class="menu">
      <div class="item" data-value="test">Test</div>
      <div ng-repeat="vendor in vendors.list" class="item" data-value="{{vendor.line}}">
          {{vendor.businessName}}
      </div>
    </div>
  </div> -->

  <br/>
  <div class="ui clearing">
    <h3 class="ui left floated header">
        Available Cards
    </h3>
    <button class="ui right floated top pointing dropdown mini basic icon button">
      <i class="plus icon"></i>
      <div class="menu">
        <div class="header">Menu</div>
        <div class="item" ng-click="addTemplateCard()">Add Card</div>
        <div class="item" ng-click="addCard()">Add Advanced Card</div>
      </div>
    </button>
  </div>
  <br/>

  <!-- Each Card -->
  <form ng-repeat="card in cards" name="card.cardForm" class="ui form segments">
    
    <div class="ui secondary clearing segment">
      <!-- Title Row -->
      <div class="ui left floated transparent left icon input">
        <input type="text" ng-model="card.title" placeholder="Enter a name:" style="width: 300px;">
        <i class="large outline file icon"></i>
      </div>
      
      <button class="ui right floated  mini button" ng-class='(card.cardForm.$dirty?"primary":"")'
            type="submit" ng-click="saveCard(card, card.cardForm);">
          &nbsp;{{(card.saveText?card.saveText:'Save')}}&nbsp;
      </button>
      <span style="float:right;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button class="ui right floated icon mini button" ng-click="confirmDelete(card);">
        <i class="trash alternate outline icon"></i>
      </button>
  
    </div>
    <div class="ui segment" ng-class='(card.active?"green":"")'>
      <!-- First row -->
      <div class="ui two column divided grid">
        <div class="twelve wide column">
          <div class="ui three column grid">
            <div class="five wide column">
              <div class="ui toggle checkbox">
                <input type="checkbox" ng-model="card.active" name="onOff">
                <label>Off / On</label>
              </div>
            </div>

            <div ng-if="(card.templateVariables)" class="eleven wide column">
              <div ng-repeat="varb in card.templateVariables" class="inline fields">
                <div class="sixteen wide field">
                  <label>{{varb.name}}</label>
                  {{varb.value.filesize > 0 ? 'Using ' + varb.value.filename + ' or select new image ' : ''}}
                  <input name="imagefile" ng-if="varb.type=='file'" type="{{varb.type}}" ng-model="varb.value" on-change="applyTemplateVariables(card)" placeholder="" maxsize="5000" accept="image/*" do-not-parse-if-oversize base-sixty-four-input>
                  <span ng-show="form.imagefile.$error.maxsize">Files must not exceed 5000 KB</span> <!-- TODO define max file size-->
                  <input ng-if="varb.type!='file'" type="{{varb.type}}" ng-model="varb.value" ng-blur="applyTemplateVariables(card)" placeholder="">
                </div>
              </div>
            </div>
            
          </div>
          <div class="ui divider" ng-if="card.schedulerOn"></div>
          <!-- Second Row (Schedule) -->
          <div class="ui four column grid">
            <div class="four wide column">
              <div class="ui toggle checkbox">
                <input type="checkbox" name="scheduleOnOff" ng-model="card.schedulerOn">
                <label>Schedule</label>
              </div>
            </div>

            <div class="five wide column" ng-if="card.schedulerOn">
              <ng-datepicker class="ui input " ng-model="card.campaign.startDate" ng-change="fromDateChange(card)" placeholder="Date From">
              </ng-datepicker>
              <span class="time" ng-dblclick="alert('hi');">{{card.campaign.startTime}}</span>
              <!-- <select name="time" ng-model="card.campaign.startTime" class="ui dropdown ">
                <option value="08:00">8am</option>
                <option value="09:00">9am</option>
                <option value="15:00">3pm</option>
                <option value="16:00">4pm</option>
              </select> -->
            </div>
            <div class="five wide column" ng-if="card.schedulerOn">
              <ng-datepicker class="ui input fluid" ng-model="card.campaign.endDate" ng-change="toDateChange(card)" placeholder="Date To">
              </ng-datepicker>
              <span class="time" ng-dblclick="alert('hi');">{{card.campaign.endTime}}</span>
              <!-- <select name="time" ng-model="card.campaign.endTime" class="ui dropdown ">
                <option value="15:00">3pm</option>
                <option value="16:00">4pm</option>
                <option value="17:00">5pm</option>
              </select> -->
            </div>
            <div class="two wide column" ng-if="card.schedulerOn">
                <select name="custom" ng-model="card.campaign.repeat" class="ui dropdown fluid">
                  <option value="">-</option>
                  <option value="WEEKLY">WEEKLY</option>
                  <option value="DAILY">DAILY</option>
                </select>
            </div>

          </div>
          <div class="ui divider" ng-if="card.campaign.notiOn"></div>
          <!-- Third Row (Notification) -->
          <div class="ui three column grid" ng-if="card.schedulerOn">
            <div class="four wide column">
              <div class="ui toggle checkbox">
                <input type="checkbox" name="notiOnOff" ng-model="card.campaign.notiOn">
                <label>Notification</label>
              </div>
            </div>
            <div class="four wide mini column" ng-if="card.campaign.notiOn">
              Date From above is used
            </div>
            <div class="eight wide column" ng-if="card.campaign.notiOn">
                <div class="ui fluid input">
                  <input type="text" ng-model="card.campaign.notiText" placeholder="Notification message">
                </div>
            </div>
          </div>
        </div>
        <!-- File Column -->
        <div class="ui vertical divider"></div>
        <div class="four wide column" style="text-align:center;">
          <i ng-show="card.html" ng-hide="card.templateVariables[4].value.filename" class="huge file alternate outline icon"></i>
          <img width="100%" ng-show="card.templateVariables[4].value.filename" src="data:{{card.templateVariables[4].value.filetype + ';base64,' + card.templateVariables[4].value.base64}}" />
          <p ng-hide="card.html" style="color:#BBB;">no card</p>
          <br/><br/>
          <button class="ui mini button" ng-click="editClick(card, cardForm);">
            <i class="edit icon"></i>&nbsp;HTML
          </button>
          <!-- <button class="ui mini icon button"><i class="upload icon"></i></button>
          <button class="ui mini icon button"><i class="download icon"></i></button> -->
        </div>
      </div>

    </div>
  </form>


  <form>
    <div id="edit-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          Edit HTML for {{edit.title}}
        </div>
        <div class="content">

          <div class="ui form">
            <div class="field">
              <label>Card HTML:</label>
              <textarea class="html-edit" rows="30" wrap="hard"
                ng-model="edit.text"></textarea>
            </div>
          </div>

        </div>
        <div class="actions">
          <div class="ui button" ng-click="editClose();">Cancel</div>
          <div class="ui primary button" ng-click="editSave();">Ok</div>
        </div>
    </div>
  </form>

  <div id="confirm-delete-modal" class="ui small modal">
    <div class="header">Delete {{deleteModal.card.title}}?</div>
    <div class="content">
      <p>Delete this Card, its schedule, and its HTML code from the database?</p>
      <p>This cannot be undone.</p>
    </div>
    <div class="actions">
      <div class="ui approve negative button" ng-click="deleteCard(deleteModal.card);">Delete</div>
      <div class="ui cancel button">Close</div>
    </div>
  </div>


</div>