
<div class="ui main text container">
  <h2 class="ui header">Daily Van Report</h2>

  <p>
    Show a days van arrivals on a map.  Choose all your vans or a specific van.
  </p>
  <p>The vans / phones are listed by the ID number shown in the corner of the phone app.  
    You can rename them for your reference with the edit button.
  </p>
  <p>(C) marker - A customer has installed the app<br/>
     (V) marker - A vendor pressed the arrival button.
  </p>
  
  <p>&nbsp;</p>

  <div class="ui form">

    <!-- Vendor Search selection Box -->
    <div class="four wide column">
      <div class="ui labeled icon input">
        <div class="ui label">Vendor </div>
        <input type="text" ng-model="vendors.input" placeholder="" ng-change="vendorPress()">
        <i class="search icon"></i>
      </div>
      <div ng-if="vendors.loading" class="ui active small inline loader"></div>
    </div>
    <div class="four wide column">
      <div class="ui  selection list">
        <div ng-repeat="vendor in vendors.list" class="item" data-value="{{vendor.line}}">
          <div class="content" ng-click="vendorSelect(vendor)">
            <div class="header">{{vendor.businessName}}</div>
            <div class="description">({{vendor.id}})</div>
          </div>
        </div>
      </div>
    </div>
    <br/>


    <div class="three fields">
      <div class="field">
          Select Van / phone:
      </div>
      <div class="field">
        <select class="ui dropdown" ng-model="selectedVan" ng-change="vanChange()">
          <option value="">All Vans</option>
          <option ng-repeat="van in vanList" value="{{van.id}}">{{van.name}} - ({{van.vanIdCrop}})</option>
        </select>
      </div>
      <div class="field">
        <button class="ui basic icon button popup-activator {{editButtonDisabled}}">
          <i class="edit icon"></i>
        </button>
        <div class="ui fluid popup bottom center transition hidden"  >
          <div class="text">Change this Vans Name:</div>
          <div class="ui action input">
            <input class="ui input" ng-model="vanName">
            <button class="ui button" ng-click="changeVanName()">Save</button>
          </div>
        </div>
      </div>
    </div>
<!--
    <div class="field">
      <label><i class="calendar icon"></i> Customer Date range</label>
    </div>
    <div class="two fields">
      <div class="field">
            <ng-datepicker ng-model="installFromDate" ng-change="installChange()" placeholder="Date From">
            </ng-datepicker>
      </div>
      <div class="field">
            <ng-datepicker ng-model="installToDate" ng-change="installChange()" placeholder="Date To">
            </ng-datepicker>
      </div>
    </div>
-->
    <div class="field">
      <label><i class="calendar icon"></i> Arrival Date</label>
    </div>
    <div class="two fields">
      <button class="ui mini basic button" ng-click="dayDown()">- 1 day</button>
      <div class="field">
            <ng-datepicker ng-model="arrivalDate" ng-change="arrivalChange()" placeholder="Arrival Date">
            </ng-datepicker>
            <!--       <input type="text" id="fromdate" placeholder="From date"/>   -->
      </div>
      <button class="ui mini basic button" ng-click="dayUp()">+ 1 day</button>
    </div>
    <span style="display: block; margin-top: 4px;"></span>
  </div>
</div>

  <ui-gmap-google-map center="map.center" zoom="map.zoom"
                      options="map.options">

    <ui-gmap-marker ng-repeat="marker in markers" idkey="marker.id"
                    coords="marker.coords" options="marker.options">
    </ui-gmap-marker>

    <ui-gmap-marker ng-repeat="imarker in instMarkers" idkey="imarker.id"
                    coords="imarker.coords" options="imarker.options" events="imarker.events">
    </ui-gmap-marker>

  </ui-gmap-google-map>


  <br/>
  <br/> 
  <br/>
  <button class="ui button" ng-click="logout()">
    Logout
  </button>
