
<div class="ui main text container">
  <h2 class="ui header">Register Vendor (admin)</h2>

  <p>Create new user accounts here.  User accounts are used by the Vendors to login to the
    vendor app and the portal.
     </p>

  <div class="ui message">
    <ul class="list">
      <li>User accounts are one for each vendor; the vans will all login with the same account</li>
      <li>This does not create a vendors home page card, so you need to create
           a generic card seperately and add it to the Card table.</li>
      <li>The business name is what customers will need to search for in the app</li>
    </ul>
  </div>

  <br/>

  <form class="ui form">
    <div class="field">
      <label>Email address</label>
      <input type="email" placeholder="Email" ng-model="user.email" ng-minlength=5 required>
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" placeholder="Password" ng-model="user.password" required ng-minlength=3>
    </div>
    <br/>
    <div class="field">
      <label>Business Name</label>
      <input type="text" placeholder="Business name" ng-model="user.businessName" required>
    </div>

    <p>By creating an account you agree to the Terms of Use and Privacy Policy.</p>

    <button class="ui primary button" ng-click="register()">
       CREATE ACCOUNT
    </button>
  </form>

  <div class="ui error message" ng-show="error.message">
    <i class="close icon" ng-click="error.message=''"></i>
    {{error.message}}
  </div>
  <div class="ui success message" ng-show="error.good">
    <i class="close icon" ng-click="error.good=''"></i>
    <div class="header">{{error.good}}</div>
    <p>{{error.good2}}</p>
  </div>


  <span style="display: block; margin-top: 4px;"></span>
  </div>



  <br/>
  <br/>
  <button class="ui button" ng-click="logout()">
    Logout
  </button>



</div>
