<!-- <div ng-if="(showTemplateSelect)"> -->
  <form>
    <div id="template-select-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          Select a Card Template
        </div>

        <div class="content fixed-height">
          <div class="ui grid">
              <div class="ui doubling four column row">
                <div ng-repeat="template in templates" class="column" style="text-align: center;">
                  <label>{{template.title}}</label>
                  <cardpreview ng-show="template.html" card="template" html="template.html" 
                               mywidth="188" myheight="280"></cardpreview>
                  <button class="ui primary button" ng-click="templateClick(template)"">Add Card</button>
                </div>
              </div>
          </div>
        </div>

        <div class="actions">
          <div class="ui button" ng-click="closeClick();">Cancel</div>
        </div>
    </div>
  </form>
<!-- </div> -->
 
