

  <div class="ui main text container">
    <h1 class="ui header">Contact</h1>
    
    <div class="body-text">
    <p>We'd love to answer all your question about how LunchAlert can helps you business. Send us your contact details and we'll be in touch.</p>
    <h2>Send us a message</h2>
    <form class="ui form" action="https://service.capsulecrm.com/service/newlead" method="post">

    <input type="hidden" name="FORM_ID" value="f202662b-1a5f-437e-8e8b-d9629a52e550">
    <input type="hidden" name="TAG" value="Lead">
    <input type="hidden" name="CUSTOMFIELD[Lead Source]" value="website">
    <input type="hidden" name="COMPLETE_URL" value="http://lunchalert.me/contact/thanks">

    <h4 class="ui dividing header">Contact Us</h4>
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input id="firstNameId" placeholder="First Name" type="text" name="FIRST_NAME">
        </div>
        <div class="field">
          <input id="lastNameId" placeholder="Second Name" type="text" name="LAST_NAME">
        </div>
      </div>
    </field>
    <div class="field">
      <label>Your Company:</label>
      <input id="organisationId" placeholder="Company Name" type="text" name="ORGANISATION_NAME">
    </div>
    
    <div class="field">
      <label>Contact Phone:</label>
      <input id="phoneId" placeholder="Phone" type="text" name="PHONE[WORK]">
    </div>
    <div class="field">
      <label>Email Address:</label>
      <input id="emailId" placeholder="Email" type="text" name="EMAIL">
    </div>
      <div class="field">
      <input class="ui button" type="submit" value="Submit">
    </div>
    
    <!--<input type="hidden" name="DEVELOPER" value="TRUE"/>-->
    </form>
    </div>


  </div>
  
  