  <div class="ui main text container">
    <h1 class="ui header">LunchAlert Portal</h1>
    <p>Manage your service through our self service portal.</p>
    <div class="ui three column relaxed grid">
      <div class="column" style="text-align: center" ng-click="gotoMapPage();">
        <i class="map marker alternate icon huge"></i>
        <h2>Customer Locations</h2>
      </div>
      <div class="column" style="text-align: center" ng-click="gotoOffersPage();">
        <i class="file alternate icon huge"></i>
        <h2>Your Offers</h2>
      </div>
      <div class="column" style="text-align: center" ng-click="gotoVansPage();">
          <i class="truck  icon huge"></i>
          <h2>Vans</h2>
        </div>
    </div>
  </div>
