  <div class="ui main text container">
    <h1 class="ui header">LunchAlert Portal</h1>
    <p>Manage your service through our portal .</p>
    <div class="ui two column relaxed grid">
      <div class="column" style="text-align: center">
        <i class="map marker alternate icon" style="font-size: 10em; color: #c55"></i>
        <h2>Customer Locations</h2>
      </div>
      <div class="column" style="text-align: center">
        <i class="file alternate icon" style="font-size: 10em;"></i>
        <h2>Your Offers</h2>
      </div>
    </div>
  </div>
