
  <div class="ui main text container">
    <h1 class="ui header">Portal Login</h1>
    <p>View information about your daily LunchAlert powered delivery rounds.</p>
    
    <div>&nbsp;</div>
    
    <div class="list">
      <div class="ui labeled input">
        <div class="ui label">Email</div>
        <input type="email" ng-model="user.username" required>
      </div>
      <div class="ui labeled input">
        <div class="ui label">Password</div>
        <input type="password" ng-model="user.password" required>
      </div>
    </div>
    <div class="ui ignored warning message" ng-show="error.message">
      {{error.message}}
    </div>
    <div>&nbsp;</div>
    
    <button class="ui button" ng-click="login()">
      Log In
    </button>
    
    <div>&nbsp;</div>
    
    <!--
    <button class="button button-block button-clear button-calm" ng-click="forgot()">
        Forgot your password?
    </button>
    -->
   <!--
    <button class="button button-block button-clear button-calm" ng-click="logout()">
        Log out
    </button>
    -->
  </div>
  
  
