

  <div class="ui main text container">
    <h1 class="ui header">Notify</h1>
    
    <div class="body-text">
      <p>Notify everybody in the building that you&#39;re outside from a simple tap on your smartphone.</p>
      <h2>Easy To Use</h2>
      <p>Every driver in your fleet runs the app in their vehicle. A simple tap of the button
      as they start their round starts LunchAlert. As the driver arrives at each delivery location
      a tap of the apps button will send out a notification to all the customers who have
      LunchAlert installed on their phones.</p>
      <h2>Promotion</h2>
      <p>To improve your customer reach promoting LunchAlert to your customers as they purchase
      their lunch from your vans is important. We&#39;ve made it really simple for your customers to
      install and subscribe to your delivery notifications.</p>
      <h2>Install</h2>
      <p>Install the notification app on your drivers iPhone or Android smartphones available from
      the app store.</p>
      <p style="text-align: center;">
        <a href="https://itunes.apple.com/us/app/lunchalert-vendor/id1038136273?ls=1&amp;mt=8" target="_blank">
          <img src="images/app_store.png">
        </a>&nbsp;
        <a href="https://play.google.com/store/apps/details?id=me.lunchalert.lunchalertvendor&amp;hl=en" target="_blank">
          <img src="images/play_store.png" style="line-height: 1.4;">
        </a>
      </p>
      <p>You&#39;ll need your LunchAlert registration email and password to log in on the app. These
      details are provided as part of your <a href="#/pricing" title="Details on our subscription pricing">
      subscription set-up</a>.</p>
    </div>
    
  </div>
  
  