
<div class="ui main text container">
  <h1 class="ui header">Offer Creation</h1>

  <div class="ui six top attached steps" style="margin-bottom: 0px;">
    <div class="active step">
      <div class="content">
        <div class="title">Offer</div>
      </div>
    </div>
    <div class=" step">
      <div class="content">
        <div class="title">Details</div>
      </div>
    </div>
    <div class=" step">
      <div class="content">
        <div class="title">Photo</div>
      </div>
    </div>
    <div class=" step">
      <div class="content">
        <div class="title">Preview</div>
      </div>
    </div>
    <div class=" step">
      <div class="content">
        <div class="title">Date</div>
      </div>
    </div>
    <div class=" step">
        <div class="content">
          <div class="title">Confirm</div>
        </div>
      </div>
  </div>


  <div class="ui attached segment" ng-if="page==1">
    <div class="ui vertical very padded segment">
      <p>Think of a great catchy line about your offer.</p>
      <p>Title: {{currentCard.title}}</p>
    </div>
    <form class="ui form">
      <div class="field">
        <input type="text" name="title" placeholder="Title">
      </div>
    </form>
  </div>

  <div class="ui attached segment" ng-if="page==2">
      <div class="ui vertical very padded segment">
        <p>Let people know the conditions of your deal and the price.</p>
      </div>
      <form class="ui form">
        <div class="field">
          <input type="textarea" name="details" placeholder="Detail">
        </div>
      </form>
    </div>

  <div class="ui bottom attached segment">
  </div>

  <button class="ui right labeled right floated icon button" ng-click="pageNext()">
    <i class="right arrow icon"></i>
    Next
  </button>
  <button class="ui right floated labeled icon button" ng-click="pageBack()">
    <i class="left arrow icon"></i>
    Back
  </button>
</div>