
<div class="ui main text container">
  <h1 class="ui header">Offers Edit</h1>

  <div class="ui three top attached steps" style="margin-bottom: 0px;">
    <div class="completed step">
      <div class="content">
        <div class="title">Shipping</div>
        <div class="description">Choose your shipping options</div>
      </div>
    </div>
    <div class="completed step">
      <div class="content">
        <div class="title">Billing</div>
        <div class="description">Choose your shipping options</div>
      </div>
    </div>
    <div class="active step">
      <div class="content">
        <div class="title">Confirm Order</div>
        <div class="description">Choose your shipping options</div>
      </div>
    </div>
  </div>


  <div class="ui attached segment">
    <div class="ui vertical very padded segment">
      <p>Think of a great catchy line about your offer.</p>
    </div>
    <form class="ui form">
      <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
      </div>
    </form>
  </div>


  <div class="ui bottom attached segment">
    <button class="ui right labeled right floated icon button">
      <i class="right arrow icon"></i>
      Next
    </button>
    <button class="ui right floated labeled icon button">
      <i class="left arrow icon"></i>
      Back
    </button>
  </div>

</div>