
<div class="ui main text container">
  <h1 class="ui header">Offers</h1>
  <p>Alongside notifying your customers upon your arrival on site LunchAlert also provides the ability to promote
    lunch deals to all your customer base using the same push notification system.</p>
  
  <button class="ui button" ng-click="addCard();">
    <i class="file outline icon"></i>Add a new offer
  </button>

  <div class="ui middle aligned divided list">

    <div class="item" ng-repeat="card in cards | orderBy:'order' ">
      <div class="right floated content">
        <div class="ui button " ng-click="editCard(card)"><i class="edit icon"></i>Edit</div>
      </div>
      <div class="content">
        {{card.title}}
      </div>
    </div>

  </div>

</div>