
<div class="ui main text container">
  <h1 class="ui header">Offers</h1>
  <p>Alongside notifying your customers upon your arrival on site LunchAlert also provides the ability to promote
    lunch deals to all your customer base using the same push notification system.</p>
  
  <button class="ui labeled floated icon button primary" ng-click="addCard();">
    <i class="file  icon"></i>Add a new offer
  </button>
<!--"ui middle aligned divided list"-->
  <div class="ui divided items">

    <div class="item" ng-repeat="card in cards | orderBy:'order' ">
        <div class="image">
          <img src="{{card.campaign.picture}}">
        </div>
        <div class="content">
          <a class="header">{{card.title}}</a>
          <div class="meta">
            <span class="cinema"><i class="calendar alternate outline icon"></i>Published on {{card.campaign.startDate | date: 'short'}}</span>
          </div>
          <div class="description">
            <p>{{card.campaign.message}}</p>
          </div>
          <div class="extra">
              <div class="ui right floated primary button" ng-click="editCard(card)">
                  Edit
                  <i class="right chevron icon"></i>
                </div>
            <!-- <div class="ui label">IMAX</div>
            <div class="ui label"><i class="globe icon"></i> Additional Languages</div> -->
            
          </div>
        </div>
      </div>


  </div>

</div>