
<div class="ui main text container">
  <h1 class="ui header">Offers</h1>

  <button class="ui button" ng-click="addCard();">
    <i class="file outline icon"></i>Add a new offer
  </button>

  <div class="ui middle aligned divided list">
    <div class="item">
      <div class="right floated content">
        <div class="ui button "><i class="edit icon"></i>Edit</div>
      </div>
      <div class="content">
        Lena
      </div>
    </div>
    <div class="item">
      <div class="right floated content">
        <div class="ui button"><i class="edit icon"></i>Edit</div>
      </div>
      <div class="content">
        Lindsay
      </div>
    </div>
    <div class="item">
      <div class="right floated content">
        <div class="ui button"><i class="edit icon"></i>Edit</div>
      </div>
      <div class="content">
        Mark
      </div>
    </div>
    <div class="item">
      <div class="right floated content">
        <div class="ui button"><i class="edit icon"></i>Edit</div>
      </div>
      <div class="content">
        Molly
      </div>
    </div>
  </div>

</div>