<div class="ui main text container">
  <h1 class="ui header">Your Driver Activity</h1>
  <p>Monitor driver activity on a daily basis using our at a glance status board for your van fleet.</p>

  <table class="ui sortable celled table">
  <thead>
    <tr>
      <th class="sorted ascending">Name</th>
      <th class="">Last Active</th>
      <th class="">Notes</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>Van1</td>
    <td class="negative">3 days ago</td>
    <td>None</td>
  </tr><tr>
    <td>Van2</td>
    <td>No history</td>
    <td>None</td>
  </tr><tr>
    <td>Van3</td>
    <td class="positive">Today</td>
    <td class="warning">?</td>
  </tr>
  </tbody>
  <tfoot>
    <tr><th>3 Drivers</th>
    <th>2 Active</th>
    <th></th>
  </tr></tfoot>
  </table>

</div>