

  <div class="ui main text container">

    <div class="body-text"> 
      <h1 class="ui header">Stay Alert</h2>
      <p>Beep Beep your mobile phone lets you know when the sandwich delivery van is waiting for you outside in an instant.</p>
      <h2 class="ui header">Easy To Use</h2>
      <p>Run the app once whilst at work, search for your sandwich delivery company, close the app. It’s that simple to stay alerted about the arrival of lunch!</p>
      <h2 class="ui header">Install</h2>
      <p>Available now for iPhone and Android smartphones from the app stores.</p>
      
      <p style="text-align: center;">
        <a href="https://itunes.apple.com/us/app/lunchalert/id1016665853?mt=8&amp;ls=1" target="_blank">
          <img src="http://36.media.tumblr.com/550504d96ad87fe7d5651a6307d0290c/tumblr_inline_nzi7wcGR5J1tym9lr_500.png">
        </a>&nbsp;
        <a href="https://play.google.com/store/apps/details?id=me.lunchalert.lunchalert&amp;hl=en" target="_blank">
          <img src="http://41.media.tumblr.com/0483be565c2fe4775d2637e29ed10c44/tumblr_inline_nzi7q7lynL1tym9lr_500.png" style="line-height: 1.4;">
        </a>
      </p>
    </div>

  </div>
  
  