

  <div class="ui main text container">

    <div class="body-text"> 
      <h1 class="ui header">Stay Alert</h2>
      <p>Beep Beep your mobile phone lets you know when the sandwich delivery van is
      waiting for you outside in an instant.</p>
      <h2 class="ui header">Easy To Use</h2>
      <p>Run the app once whilst at work, search for your sandwich delivery company,
      close the app. It&#39;s that simple to stay alerted about the arrival of lunch!</p>
      <h2 class="ui header">Install</h2>
      <p>Available now for iPhone and Android smartphones from the app stores.</p>
      
      <p style="text-align: center;">
        <a href="https://itunes.apple.com/us/app/lunchalert/id1016665853?mt=8&amp;ls=1" target="_blank">
          <img src="images/app_store.png">
        </a>&nbsp;
        <a href="https://play.google.com/store/apps/details?id=me.lunchalert.lunchalert&amp;hl=en" target="_blank">
          <img src="images/play_store.png" style="line-height: 1.4;">
        </a>
      </p>
    </div>

  </div>
  
  