

  <div class="ui main text container">
    <h1 class="ui header">Contact</h1>
    <p>This is a basic fixed menu template using fixed size containers.</p>
    <p>A text container is used for the main container, which is useful for single column layouts</p>
    <div>
      <div class="ui labeled input">
        <a class="ui label" href="#">Name:</a>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
      </div>
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
    <div>
      <h1>Test string is {{test}}!</h1>
    </div>
  </div>
  
  