

  <img class="ui fluid image" src="http://static.tumblr.com/7eeb6cc64cfa3dbe55863158e94d72c1/np9tlpn/sfEnzidf0/tumblr_static_9fbk32kluu4gkw408ws8c8s4c_2048_v2.png">
    
  <div class="ui main text container">
    <h2 class="ui header">Eaters</h2>
    <p>If your work place lunch delivery company is using LunchAlert you’ll need to
    grab our alerting app for your smartphone. <a href="#/alert">Find out more</a>.</p>
    <h2 class="ui header">Sellers</h2>
    <p>Communicate directly with you customers letting them know of your arrival.  No more missed sales, unhappy hungry customers.  Speed up your rounds as customers will be waiting for you on arrival.</p>
    <p>Find out more about the <a href="#/notify">Notify service</a> for your fleet of drivers.</p>
    
  </div>
  
  