
<div class="ui main text container">
  <h2 class="ui header">Portal</h2>

  <div class="ui checkbox">
    <input type="checkbox" name="installations" ng-model="installTick" ng-click="installClick()">
    <label>Show Customer Installations</label>
  </div>
  <div class="ui checkbox">
    <input type="checkbox" name="arrival" ng-model="arrivalTick" ng-click="arrivalClick()">
    <label>Show Van Arrivals</label>
  </div>
  <div class="ui fitted labeled input">
    <div class="ui label">Swm to act as </div>
    <input type="text" name="swm" ng-model="swm">
  </div>


  
  <ui-gmap-google-map center="map.center"
                      zoom="map.zoom">
    
    <ui-gmap-marker ng-repeat="marker in markers"
                    idkey="marker.id"
                    coords="marker.coords"
                    options="marker.options">
    </ui-gmap-marker>
    
    <ui-gmap-marker ng-repeat="imarker in instMarkers"
                    idkey="imarker.id"
                    coords="imarker.coords"
                    options="imarker.options">
    </ui-gmap-marker>
    
  </ui-gmap-google-map> 
  

   
  <p>Lorem Ipsum .... If your work place lunch delivery company is using LunchAlert you&#39;ll need to
  grab our alerting app for your smartphone. <a href="#/alert">Find out more</a>.</p>
  <button class="button button-block button-clear button-calm" ng-click="logout()">
      Logout
  </button>
  

  
  
    
    
</div>
  
  