
<div class="ui main text container">
  <h2 class="ui header">Portal Maps (admin)</h2>

  <p>Goto the <a href="" ng-click="gotoRegisterPage()">Register page</a>.</p>

  <p>You can view geographical information about customers and the van rounds here. Use the tick
  boxes at the top of the map to add your data onto the map.</p>
  <p>Show Customers will add a Red marker for each time the app has been installed on a phone. The
  location of each marker shows where this customer is registered to receive alerts.  They will
  only receive an alert from you when the vendor app presses the send button within 50 meters of
  this point.</p>
  <p>Show Van Arrivals puts a blue marker on the map for each time the send button has been pressed
  in the vendor app.  The location is where we recorded this press. </p>

  <p>The date range will filter the Van Arrivals to a certain period, and also filter the Customers
  by their install date.  The dates are inclusive.</p>


  <div class="ui form">
    <div class="field">
      <div class="ui fitted labeled input">
        <div class="ui label">Swm to act as </div>
        <input type="text" name="swm" ng-model="swm" ng-keyup="$event.keyCode == 13 && populateVanList()"/>
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="installations" ng-model="installTick" ng-click="installClick()"/>
          <label>Show Customers (C)</label>
        </div>
      </div>
      <div class="field">
      </div>
      <div class="field">
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="arrival" ng-model="arrivalTick" ng-click="arrivalClick()"/>
          <label>Show Van Arrivals (V)</label>
        </div>
      </div>
      <div class="field">
        <select class="ui dropdown" ng-model="selectedVan" ng-change="vanChange()">
          <option value="">All Vans</option>
          <option ng-repeat="van in vanList" value="{{van.id}}">{{van.name}} - ({{van.vanIdCrop}})</option>
        </select>
      </div>
      <div class="field">
        <button class="ui basic icon button popup-activator {{editButtonDisabled}}">
          <i class="edit icon"></i>
        </button>
        <div class="ui fluid popup bottom center transition hidden"  >
          <div class="text">Change this Vans Name:</div>
          <div class="ui action input">
            <input class="ui input" ng-model="vanName">
            <button class="ui button" ng-click="changeVanName()">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label><i class="calendar icon"></i> Date range</label>
    </div>
    <div class="two fields">
      <div class="field">
            <ng-datepicker ng-model="fromDate" ng-change="dateChange()" placeholder="Date From">
            </ng-datepicker>
            <!--       <input type="text" id="fromdate" placeholder="From date"/>   -->
      </div>
      <div class="field">
            <ng-datepicker ng-model="toDate" ng-change="dateChange()" placeholder="Date To">
            </ng-datepicker>
      </div>
    </div>

    <span style="display: block; margin-top: 4px;"></span>
  </div>

</div>

  <ui-gmap-google-map center="map.center" zoom="map.zoom"
                      options="map.options">

    <ui-gmap-marker ng-repeat="marker in markers" idkey="marker.id"
                    coords="marker.coords" options="marker.options">
    </ui-gmap-marker>

    <ui-gmap-marker ng-repeat="imarker in instMarkers" idkey="imarker.id"
                    coords="imarker.coords" options="imarker.options" events="imarker.events">
    </ui-gmap-marker>

  </ui-gmap-google-map>

  <div class="ui checkbox">
    <input type="checkbox" name="editMode" ng-model="editMode" ng-click="editModeClick()"/>
    <label>Edit Mode</label>
  </div>
  <div class="ui checkbox">
    <input type="checkbox" name="showArrivalTimes" ng-model="showArrivalTimes" ng-click="arrivalChange()"/>
    <label>Show Arrival Times</label>
  </div>
  <div class="ui checkbox">
    <input type="checkbox" name="showCustObjectIds" ng-model="showCustObjectIds"
           ng-click="installChange()"/>
    <label>Show Customer ObjectIds</label>
  </div>

  <br/>
  <br/>
  <button class="ui button" ng-click="logout()">
    Logout
  </button>
